body {
    font-family: Roboto, sans-serif;
    color: #333;
    font-size: 14px;
    line-height: 20px;
}
body {
    margin: 0;
    min-height: 100%;
    background-color: #fff;
    font-family: Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
.w-nav:before, .w-nav:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}
.link-nav.w--current {
    box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, .5);
    color: #000;
}
.link-nav {
    margin-right: 10px;
    margin-left: 10px;
    padding: 0px 0px 5px;
    box-shadow: none;
    -webkit-transition: color 200ms ease, box-shadow 200ms ease;
    transition: color 200ms ease, box-shadow 200ms ease;
    font-family: Roboto, sans-serif;
    color: grey;
    font-size: 16px;
    font-weight: 400;
}
.w-nav-link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #222222;
    padding: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
/* @media (max-width: 991px)
a {
    margin-bottom: 20px;
} */
.w-nav:after {
    clear: both;
}
.navbar {
    position: absolute;
    width: 100%;
    height: auto;
    padding: 5vh 5vw 0vh;
    background-color: transparent;
}
.w-nav {
    position: relative;
    background: #dddddd;
    z-index: 1000;
}